<template>

        <div class="relative">
                        <img alt="card image" :src="$attrs.project.template" class="w-full h-auto mx-auto p-2 rounded" />
                    <div
                        class="card-text">
<span class="font-semibold capitalize">{{ $attrs.surname || "prénom..." }} </span>
                        <p>{{ $attrs.project.message }}</p>
                        <UDivider icon="i-heroicons-cake-16-solid" class="[&_div:not(:nth-child(2n))]:bg-black [&_span]:size-3" />
        
                        <div class="text-right w-full">{{ $attrs.project.messageAuthor }} </div>
                    </div>
        
                </div>

</template>

<script setup>
props: {
    project: Object
    surname: String
}
</script>