@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-300 ease-in-out;
}

h1 {
  @apply text-base sm:text-xl lg:text-2xl xl:text-4xl font-bold;
}

.card-text{
  @apply flex flex-col gap-1 !text-black absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-8/12 text-[8px] min-[340px]:text-xs min-[440px]:gap-2 min-[440px]:text-[15px] min-[540px]:text-base md:text-xl lg:text-2xl lg:gap-4 transition-all duration-300;
}
nav{
  @apply px-2 sm:px-10;
}
