<template>
  <div class="space-y-8">

    <UBreadcrumb :links="links" />
    <div class="relative">
      <UPageHero title="Official Support"
        description="Through NuxtLabs experts and agency networks, we have a solution for every need." align="left">
        <img src="/hero.jpeg" alt="hero image" draggable="false"
          class="w-full rounded-md shadow-xl ring-1 ring-gray-300 dark:ring-gray-700 opacity-80" />
      </UPageHero>
      <div
        class="absolute text-white top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center w-10/12 bg-black/40 rounded-xl p-2">
        <h1 class="text-center pb-10">Créer et envoyer votre carte d'anniversaire
        </h1>
        <p class="text-base sm:text-lg lg:text-xl xl:text-2xl font-semibold">Vous pouvez créer et envoyer votre carte
          d'anniversaire à vos amis et votre famille et l'envoyer sous forme de
          lien cliquable</p>
      </div>
    </div>
    <hr>

    <div class="p-2 sm:p-24">

      <div class=" mx-auto w-2/3">
        <UCarousel ref="carouselRef" v-slot="{ item }" :items="items" :ui="{item: 'basis-full'}"
          class="rounded-lg overflow-hidden" indicators>
          <img :src="item" class="w-full" alt="template image">
        </UCarousel>
      </div>
      <div class="flex flex-row flex-wrap gap-4 justify-center items-center w-full my-10">

        <UButton @click="isOpen = true" class="">
          <NuxtLink to="/new-project-template" @click="resetLocalStorage">
            + Créer une carte
          </NuxtLink>
        </UButton>
        <UButton @click="isOpen = true" class="">
          <NuxtLink @:click="isOpen = true">
            Reprendre un projet
          </NuxtLink>
        </UButton>

        <UModal v-model="isOpen">
          <h2 class="text-center font-bold text-2xl my-4">Entre le nom de ton projet</h2>
          <form action="" @:submit.prevent="toProjectPage"
            class="flex flex-col w-full shadow p-8 justify-center items-center gap-8">
            <div class="relative flex justify-center items-center">
              <input type="text" :class="{ 'outline outline-green-500': projectName.length === 7 }"
                v-model="projectName" maxlength="7" class="border rounded p-4 text-3xl font-bold w-2/3 text-center">
              <span v-if="projectName.length < 6 && projectName.length != 0"
                class="absolute -bottom-6 text-xs left-1/2 text-center -translate-x-1/2 w-full text-red-400"> Le nom de
                ton projet comporte 6 charactères</span>
              <span v-if="projectFetchError"
                class="absolute -bottom-6 text-xs left-1/2 text-center -translate-x-1/2 w-full text-red-400"> Aucun projet trouvé avec ce nom</span>
            </div>
            <UButton type="submit" label="Suivant" class="w-fit shadow-lg" />
          </form>

        </UModal>
      </div>
    </div>

  </div>

</template>

<script setup>
const isOpen = ref(false)
const projectName = ref('')
const projectFetchError = ref(false)
const router = useRouter()
const resetLocalStorage = () => {
  localStorage.clear()
}
const items = [
  '/ex1.jpg',
  '/ex2.jpg',
  '/ex3.jpg',
  '/ex4.jpg',
]
const links = [{
  label: 'Home',
  icon: 'i-heroicons-home',
}]
const carouselRef = ref()

async function toProjectPage() {
  console.log(projectName.value);
  // check if project exists
debugger
  const { project, error } = await $fetch('/api/project/query?project=' + projectName.value
  )
  if (project) {
    console.log('data', project);
    router.push(/project/ + projectName.value)
  } else {
    projectFetchError.value = true
    setTimeout(() => {
      projectFetchError.value = false
    }, 5000)


  }

}

onMounted(() => {
  setInterval(() => {
    if (!carouselRef.value) return

    if (carouselRef.value.page === carouselRef.value.pages) {
      return carouselRef.value.select(0)
    }

    carouselRef.value.next()
  }, 4500)
})
</script>
