<template>
    <div class="space-y-6 p-2 sm:p-24">
        <UBreadcrumb :links="links" />

        <h1>Succès, Voici ta carte d'anniversaire !!</h1>
        <hr>
        <ClientOnly>
            <BirthdayCard :project="project" />
        </ClientOnly>
        <h2>ajoute maintenant les prénoms de tes invités:</h2>
        <form @submit.prevent="addGuest()">


            <UButtonGroup size="xs" orientation="horizontal">
                <UInput required maxlength="30" v-model="guestName" class="" placeholder="Géraldine," />
                <UButton type="submit" icon="i-heroicons-arrow-small-right-20-solid" color="gray" />
            </UButtonGroup>
        </form>


        <div class="relative">
            <h2>
                Voici les liens à envoyer à tes invités:
            </h2>indicators
            <ClientOnly>
                <UTable :rows="guests" :columns="columns" @select="select" v-if="guests.length" class="border p-4 rounded bg-white">
                    <template #name-data="{ row }">
                        {{ row.name }}
                    </template>
                    <template #url-data="{ row }">
                        <a :href="`${row.url}`">{{ row.url }}</a>
                    </template>
                    <template #actions-data="{ row }">
                        <UButton color="gray" variant="ghost" icon="i-heroicons-clipboard-document"
                            @click="copy(row.url)" />
                        <UButton color="gray" variant="ghost" icon="i-heroicons-trash" @click="removeGuest(row)" />
                    </template>
                </UTable>
            </ClientOnly>
            <div v-if="isSupported">
                <!-- by default, `copied` will be reset in 1.5s -->
                <div v-if="copied"
                    class="absolute text-center top-1/2 -translate-y-1/2 right-1/2 translate-x-1/2 p-4 bg-green-400">
                    Copié dans
                    le presse papier ! <br> <span class="text-sm">{{ text || 'none' }}</span></div>
            </div>
            <p v-else>
                Your browser does not support Clipboard API
            </p>
        </div><div class="my-3 w-fit mx-auto bg-white/50 p-8">
            
            <h3 class="text-xl text-center font-bold">Et voici le code unique de ton projet</h3>
            <p class="text-lg text-center">Tu en auras besoin pour retrouver ta carte et pour la modifier</p>
            <div class="border shadow-xl bg-white/50 w-fit mx-auto p-4 font-bold text-2xl my-4"> {{ project.name }} </div>
        </div>
    </div>
</template>


<script setup>
import { useClipboard } from '@vueuse/core'

const guestName = ref('')
const { text, copy, copied, isSupported } = useClipboard({ guestName })


import { useStorage } from '@vueuse/core'

const url = useRequestURL()
const defaultValue = { name: "", template: "", message: "", messageTitle: "", messageAuthor: "" } 
const project = useStorage('data', defaultValue)
const defaultGuests =[] 
const guests = useStorage('guests', defaultGuests)
 

const columns = [
    {
        label: 'Id',
        key: 'id',

    },
    {
        label: 'Prénom de l\'invité',
        key: 'name',

    },
    {
        label: 'Url à envoyer à l\'invité',
        key: 'url',

    },
    {

        key: 'actions',
    },
]


async function addGuest() {
    console.log("guestName", guestName.value);
    const guest = {
        id: guests.value.length + 1,
        name: guestName.value,
        url: `${url.origin}/project/${project.value
             .name}/${guestName.value}`

    }
    guests.value.push(guest)
    this.guestName = ''

    console.log("guest", guests.value);
    // this.guestsData.guests.push(this.guestName)
    // this.guestName = ''
}

async function removeGuest(guest) {
    console.log(guests); 
    guests.value.splice(guests.value.indexOf(guest), 1)
}

const links = [{
    label: 'Home',
    icon: 'i-heroicons-home',
    to: '/'
}, {
    label: 'Template',
    icon: 'i-heroicons-square-3-stack-3d',
}, {
    label: 'Messsage',
    icon: 'i-heroicons-chat-bubble-left-ellipsis-solid',
}
    , {
    label: 'Prénoms',
    icon: 'i-heroicons-users',
}]



</script>