<template>
    <div class="space-y-8 p-2 sm:p-24">
        <UBreadcrumb :links="links" />
        <h1>Choisis ta carte</h1>

        <ClientOnly>
            <template #fallback>

                <div
                    class="bg-gradient-to-tr to-slate-500 from-slate-300 animate-pulse h-[450px] w-10/12 sm:w-2/3 mx-auto p-2 rounded border">
                </div>
                <div
                    class="bg-gradient-to-tr to-slate-500 from-slate-300 animate-pulse h-[450px] w-10/12 sm:w-2/3 mx-auto p-2 rounded border">
                </div>
                <div
                    class="bg-gradient-to-tr to-slate-500 from-slate-300 animate-pulse h-[450px] w-10/12 sm:w-2/3 mx-auto p-2 rounded border">
                </div>
                <div
                    class="bg-gradient-to-tr to-slate-500 from-slate-300 animate-pulse h-[450px] w-10/12 sm:w-2/3 mx-auto p-2 rounded border">
                </div>

            </template>
            <div v-for="image in template">
                <img :src="image" :class="{ 'opacity-50': mydata.template != '' && mydata.template != image   } "
                    alt="hello image alt text" class="w-10/12 sm:w-2/3 h-auto mx-auto p-2 rounded-xl border"
                    @click="addTemplatetoLocalStorage(image)" />
            </div>
        </ClientOnly>
        <UModal v-model="isOpen" class="[&_div.items-end]:items-center">
            <div class="flex flex-col gap-4 py-4 justify-center items-center">

                <img :src="mydata.template" alt="hello image alt text"
                    class="w-full h-auto mx-auto p-2 rounded-xl shadow" />
                <UButton label="Suivant" @click="checkAndpursuit()" class="w-fit" />
            </div>
        </UModal>


    </div>
</template>

<script setup lang="ts">
import { useStorage } from '@vueuse/core'

const toast = useToast()


const project = { name: "", template: "", message: "", messageTitle: "", messageAuthor: ""} 
const mydata = useStorage('data', project)
const isOpen = ref(false)
const template = [
    '/temp1.jpg',
    '/temp2.jpg',
    '/temp3.jpg',
    '/temp4.jpg',
]
const router = useRouter()

function addTemplatetoLocalStorage(template:string) {

    mydata.value.template = template
isOpen.value = true
    console.log(mydata.value.template);
}

async function checkAndpursuit() {
    console.log(mydata.value.template);
    if (mydata.value.template === '') {
        toast.add({
            id: 'error',
            title: 'Erreur',
            description: 'clique sur une carte pour continuer',

            timeout: 8000,

        })
    } else {
        router.push('/new-project-message')
    }
}
const links = [{
    label: 'Home',
    icon: 'i-heroicons-home',
    to: '/'
}, {
    label: 'Template',
    icon: 'i-heroicons-square-3-stack-3d',
}]


</script>