<template>
    <form class="space-y-8 p-2 sm:p-24" @submit.prevent="sendProject()">
        <UBreadcrumb :links="links" />
        <h1>Ecris ton message</h1>
        <hr>
        <h2 class="text-red-300">
            <i>Nous écrirons les prénoms de tes invités à la prochaine étape</i>
        </h2>
        <ClientOnly>


            <h2>Ecris ton message</h2>
            <div class="relative">
                <UTextarea autoresize required maxlength="200" :maxrows="5" v-model="project.message"
                    placeholder="Je t'invite à mon anniversaire ..." class="mx-auto sm:w-2/3 w-10/12" />
                <span class="absolute -bottom-4 right-[10%] sm:right-[18%]  text-[10px]">
                    {{ project.message.length }}
                    /200 </span>
            </div>
            <h2>Signes ta carte avec ton prénom</h2>
            <div class="relative">
                <UInput required maxlength="30" v-model="project.messageAuthor" class="mx-auto sm:w-2/3 w-10/12"
                    placeholder="Géraldine," />
                <span class="absolute -bottom-4 right-[10%] sm:right-[18%]  text-[10px]"> {{
                    project.messageTitle.length }} /30 </span>
            </div>


            <div class="relative hellos">


                <img :src="project.template" class="w-full h-auto mx-auto p-2 rounded border" alt="template image" />
                <div class="card-text">
                    <span class="text-blue-400">Prénom,</span>
                    <br />
                    {{ project.message }}
                    <br>
                    <br>
                    <UDivider icon="i-heroicons-cake-16-solid" class="[&_div:not(:nth-child(2n))]:bg-black" />
                    <br>

                    <div class="text-center w-full">{{ project.messageAuthor }} </div>

                </div>
            </div>
        </ClientOnly>

        <UButton type="submit" label="Suivant" />
    </form>
</template>

<script setup>
import { useStorage } from '@vueuse/core'
const router = useRouter()

const toast = useToast()
const loadingbutton = ref(false)

const defaultvalue = { name: "", template: "", message: "", messageTitle: "", messageAuthor: "" }
const project = useStorage('data', defaultvalue)

console.log(project.value.template);
    
async function sendProject() {

    if (project.value.name == null || project.value.name == "") {
    const randomValue = crypto.randomUUID().slice(0, 6);
        project.value.name = randomValue;
        console.log(project.value.name);
}

   let res = await  $fetch('/api/project',
        {
            method: 'PUT',
            body: {
                name: project.value.name,
                template: project.value.template,
                message: project.value.message,
                messageAuthor: project.value.messageAuthor

            }

        }
   )
console.log(res);
    if (res.project) {

        toast.add({
            id: 'success',
            title: 'Succès',
            description: 'Votre carte a été enregistrée avec succès',

            timeout: 6000,

        })
        router.push({ path: '/new-project-success' })
    } else {
        toast.add({
            id: 'error',
            title: 'Erreur',
            description: 'Il y a eu une erreur, résseayer plus tard',

            timeout: 6000,

        })
      


    }
}

const links = [{
    label: 'Home',
    icon: 'i-heroicons-home',
    to: '/'
}, {
    label: 'Template',
    icon: 'i-heroicons-square-3-stack-3d',
}, {
    label: 'Messsage',
    icon: 'i-heroicons-chat-bubble-left-ellipsis-solid',
}]
</script>
