<template>
    <div class="space-y-6 p-2 sm:p-24">
        <UBreadcrumb :links="links" />

        <h1>Voici ta carte d'anniversaire</h1>
        <hr>
        <ClientOnly>

            <BirthdayCard :project="data.project" />
        </ClientOnly>
        
    </div>
</template>


<script setup>
const route = useRoute()
import { useStorage } from '@vueuse/core'
const guestName = ref('')
// const project = { project: { name: "", template: "", message: "", messageTitle: "", messageAuthor: "" } }
// const data = useStorage('data', project)
const guests = { guests: [] }

const { data } = await useFetch('/api/project/query?project=' + route.params.name
)
const guestsData = useStorage('guests', guests)
async function addGuest(){
    this.guestsData.guests.push(this.guestName)
    this.guestName = ''
}

const links = [{
    label: 'Home',
    icon: 'i-heroicons-home',
    to:'/'
}, {
    label: 'Template',
    icon: 'i-heroicons-square-3-stack-3d',
}, {
    label: 'Messsage',
    icon: 'i-heroicons-chat-bubble-left-ellipsis-solid',
}
    , {
    label: 'Prénoms',
    icon: 'i-heroicons-users',
}]

</script>