<template><div>
    
<BirthdayCard :project="data.project" :surname="route.params.surname" />

</div>
</template>

<script setup>
import BirthdayCard from '../../../components/BirthdayCard.vue';


const route = useRoute()
console.log('-----------------surname',route.params.surname);

const { data } = await useFetch('/api/project/query?project=' + route.params.friendlyId
)


</script>